/* BREAK POINTS*/
$medium : 620px;

/* COLORS */
$primary-background-color: #fcfcfc;
$primary-accent-background-color: #e6e6e6;
$primary-color: #2f2f2f;
//$primary-accent-color: rgb(64,191,255); // Aqua
//$primary-accent-color: rgb(23,92,161);  // Azure
$primary-accent-color: rgb(99,111,180);   // purple
//$primary-accent-color: rgb(80,158,47);  // Green
//$primary-accent-color: #969696;
//$primary-accent-color: rgb(214,111,39);   // Terracotta
//$primary-accent-color: rgb(126,70,106);   // plum

/* ICON SIZES */
$icon-button-size: 2em;
$icon-button-size-touch: 3em;