html, body{
    padding: 0;
    margin: 0;
    width:100%;
    height:100%;
}

@import "core-variables";
@import "fonts";
#gbifBasicMap.gbifBasicMap.gbifBasicMap{
    width:100%;
    height:100%;
    @import "reset";
    @import "icons";
    @import "map";
    @import "layout-mobile";
    @import "navigation-mobile";
    @import "navigation-medium";
    @import "evidence";
    @import "fullscreen";
}